@model BL.Empleado.EmpleadoObj
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">

                <div class="col">
                    @Html.LabelFor(model => model.Nombre)

                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control"})

                    @Html.ValidationMessageFor(model => model.Nombre, null, new {@class="text-danger"})
                </div>

            </div>

            <div class="row">

                <div class="col">
                    @Html.LabelFor(model => model.Puesto)
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-building-user"></i></span>

                        @*@Html.TextBoxFor(model => model.Role.IdRole, new { @class = "form-control", @id = "txtNombre" })*@

                        @Html.DropDownListFor(model => model.Puesto.IdPuesto, new SelectList(Model.Puesto.Puestos, "IdPuesto", "Descripcion"), "Selecciona una opción", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Puesto.Descripcion, null, new {@class="text-danger"})
                    </div>
                </div>

                <div class="col">
                    @Html.LabelFor(model => model.Departamento)
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-building-user"></i></span>

                        @*@Html.TextBoxFor(model => model.Role.IdRole, new { @class = "form-control", @id = "txtNombre" })*@

                        @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Descripcion"), "Selecciona una opción", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Departamento.Descripcion, null, new {@class="text-danger"})
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <input type="submit" value="Guardar" class="btn btn-success " />

                @Html.ActionLink("Regresar", "GetAll", "Empleado", htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>